[submodule "video/word"]
	path = video/word
	url = https://github.com/JavadEvazzadeh/evazzadeh-video-word.git
[submodule "video/wp"]
	path = video/wp
	url = https://github.com/JavadEvazzadeh/evazzadeh-video-wp.git
[submodule "video/powerpoint"]
	path = video/powerpoint
	url = https://github.com/JavadEvazzadeh/evazzadeh-video-powerpoint.git
