[submodule "dl/video/word"]
	path = dl/video/word
	url = https://github.com/JavadEvazzadeh/evazzadeh-video-word.git
[submodule "dl/video/wp"]
	path = dl/video/wp
	url = https://github.com/JavadEvazzadeh/evazzadeh-video-wp.git
[submodule "dl/video/powerpoint"]
	path = dl/video/powerpoint
	url = https://github.com/JavadEvazzadeh/evazzadeh-video-powerpoint.git
[submodule "dl/video/html"]
	path = dl/video/html
	url = https://github.com/JavadEvazzadeh/evazzadeh-video-html.git
[submodule "dl/video/html-part2"]
	path = dl/video/html-part2
	url = https://github.com/JavadEvazzadeh/evazzadeh-video-html-part2.git
[submodule "dl/video/php"]
	path = dl/video/php
	url = https://github.com/JavadEvazzadeh/evazzadeh-video-php.git
[submodule "dl/video/php-part2"]
	path = dl/video/php-part2
	url = https://github.com/JavadEvazzadeh/evazzadeh-video-php-part2.git
[submodule "dl/video/wordpress"]
	path = dl/video/wordpress
	url = https://github.com/JavadEvazzadeh/evazzadeh-video-wordpress.git
[submodule "dl/video/c"]
	path = dl/video/c
	url = https://github.com/JavadEvazzadeh/evazzadeh-video-c.git
[submodule "dl/video/excel"]
	path = dl/video/excel
	url = https://github.com/JavadEvazzadeh/evazzadeh-video-excel.git